.image-container1 {
    position: relative;
    width: 500px; 
    height: auto;
  }
  
  .imagem-principal {
    width: 100%;
    height: auto; 
  }

.logo-container__image {
  position: absolute;
  bottom: 60px;
  left: 150px;
  align-items: center;
}

.imagem-interna {
  width: 100px;
  height: auto;
}

body {
    background-color: black;
}

