body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    flex: 1;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: left;
    font-size: 10x;
    font-family: 'Poppins';font-size: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f0f0f0;
    overflow: hidden;
}

.imagem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.Voltar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

.voltar {
    display: flex;
    align-items: center;
}

.link-container {
    display: flex;
    color: #8F8881;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.form-container p {
    margin-bottom: 10px;
    text-align: left;
    opacity: 0.5;
    font-size: 14px;
    margin-top: 20px;
}

.text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.sexo-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.sexo-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.sexo-section select:focus {
    outline: none;
    border-color: #f67841;
    border-width: 1.5px;
}

.form-container label {
    display: block;
    margin-bottom: 3px;
    font-weight: normal;
    opacity: 0.7;
}

.form-container input[type="file"],
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
}

.input-container input[type="number"]:focus,
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container input[type="date"]:focus {
    border-color: #f67841;
    outline: none;
    border-width: 1.5px;
}

.form-container__Upload {
    position: relative;
    border: 2px dashed darkgrey;
    padding: 22px;
    display: grid;
    place-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
    width: 95%;
}

.Upload {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form-container__Upload label {
    color: #555;
    pointer-events: none;
}

.form-container__Upload img {
    width: 24px;
    height: 24px;
    margin: auto;
    display: block;
    padding: 10px;
    border: 1.5px;
    color: #8F8881;
}

.form-Endereço {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.esquerda, .direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.direita {
    width: 100%;
}

.container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
    padding: 0;
    border-radius: 8px;
}

.custom-checkbox {
    display: flex;
    flex-direction: column; 
    justify-content: left;
    justify-content: center; 
    height: 140px; 
    width: 260px;  
    cursor: pointer;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s, background-color 0.3s;
    text-align: center;
    margin-top: 10px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    position: relative;
    width: 20px; 
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #f3541c;
    border-color: #f3541c;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 5px; 
    font-size: 12px;
    color: white;
    transition: left 0.3s ease; 
}

.custom-checkbox:hover {
    border-color: #f3541c;
}

.custom-checkbox span {
    font-size: 15px;
    color: #333;
    text-align: center;
}

.box_termo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.input_box {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.text_box {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.form-cor {
    color: #e43a12;
}

.botao-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 30px;
}

.inscricao {
    background-color: #f3541c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 35px;
    text-align: center;
    font-size: 14px;
}

.Cancelar {
    background-color: white;
    border: 1px solid #f3541c;
    border-radius: 10px;
    color: #f3541c;
    padding: 14px 35px;
    font-size: 14px;
    margin-right: 0;
}
